version: "3"
services:
  app:
    env_file:
      - .env
    restart: always
    build: .
    volumes:
      - ./src:/usr/src/app/src
    command: yarn nest start --watch
    ports:
      - "$PORT:$PORT"
    links:
      - postgres
  postgres:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      TZ: 'GMT'
      PGTZ: 'GMT'
    ports:
      - "5432:5432"
    volumes:
      - postgres:/data/postgres
      - ./init-data.sh:/docker-entrypoint-initdb.d/init-data.sh
    env_file:
      - .env

volumes:
  postgres:
    driver: local
